.section-about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    height: fit-content;
    z-index: 2;
  }
  
  .main-about {
    display: flex;
    width: 80%;
    margin: auto;
    height: fit-content;
    position: absolute;
    flex-direction: row;
  }
  
  .aboutClass {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .about {
      animation: 1s ease-out 0s 1 slideInNameFromLeft;
  }
  
  .about-head {
    font-size: 40px;
  }
  
  .about-data {
    text-align: center;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
  
  .image {
      width: 50%;
      border-radius: 50%;
      margin: auto;
      animation: 1s ease-out 0s 1 slideInNameFromRight;
  }
  
  .image > img {
      margin: auto;
      width: 100%;
      border-radius: 50%;
      background-color: snow;
      max-height: 300px;
  }
  
  
  @keyframes slideInNameFromLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  
    @keyframes slideInNameFromRight {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  
    @media (max-width: 800px) {
      .main-about {
        flex-direction: column;
        margin-top: 0px;
      }
      .aboutClass {
        width: 100%;
      }
    }
  
  
    @media (max-width: 420px) {
      .about-head {
        font-size: 20px;
      }
      .about-data {
        font-size: 12px;
      }
    }
  