.section-pro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* z-index: 2; */
}

.heading-project {
    margin-top: 100px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.main-projects {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}


.pro {
    width: 90%;
    margin: auto;
    box-shadow: 5px 5px 25px 0px rgba(52, 58, 139, 0.5);
    border-radius: 5px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* box-shadow: 0 3px 10px rgba(52, 58, 139, 0.5); */
}

.data {
    width: 48%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pro-head {
    text-align: center;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.desc {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.projects {
    width: 100%;
    margin-bottom: 50px;
}

.img > img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    /* border-bottom-right-radius: 5px; */
    /* border-top-right-radius: 5px; */
    display: block;
    height: 315px;
}

.img {
    width: 48%;
    margin-left: 4%;
    overflow: hidden;
    /* border-bottom-right-radius: 10px; */
    /* border-top-right-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.img:hover > img{
    transform: scale(1.2);
}

.tech-stack {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.repo {
    width: fit-content;
    margin: auto;
}

.repo > a {
    padding: 20px;
    text-decoration: none;
    background: linear-gradient(to top, rgba(100, 100, 100, 0)  50%, rgb(243, 148, 148) 50%) bottom;
    padding: 10px;
    background-size: 100% 200%;
    transition: .1s ease-out;
    border: 2px solid rgb(113, 17, 238);
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.repo > a:hover {
    color: #1A237E;
    background-position: top ;
}

@media (max-width: 800px) {
    .pro {
        flex-direction: column;
    }
    .data {
        width: 98%;
    }
    .img {
        width: 98%;
        margin: auto;
        margin-top: 40px;
        /* border-radius: 10px; */
    }
    .img > img {
        border-radius: 10px;
    }
    .repo > a{
        padding: 10px;
    }
}


  @media (max-width: 420px) {
    .heading-project {
      font-size: 20px;
    }
    .tech-stack, .repo, .desc, .database {
      font-size: 12px;
    }
    .pro-head {
        font-size: 16px;
    }
    .repo > a{
        padding: 10px;
    }
  }